.textCenter{
    justify-content: center;
    align-items: center !important;
    padding: 0 20vw;
align-content: center !important;
text-align: center;
line-height: 5vw;
font-family: "Domine", serif !important;
}
.textCenter1{
    justify-content: center;
    align-items: center !important;
    padding: 0 34vw;
align-content: center !important;
text-align: center;
line-height: normal;
font-family: "Domine", serif !important;
}
 