.textsize {
    font-family: "Domine", serif;
    font-optical-sizing: auto;
    margin: 50px 0px !important;
}

.textsize1 {
    font-family: "Domine", serif;
    font-optical-sizing: auto;
    margin: 50px 0px !important;
    font-weight: lighter !important;
}

@media(max-width:640px) {
    .textsize {
        font-family: "Domine", serif;
        font-optical-sizing: auto;
        margin: 40px 0px !important;
    }

    .textsize1 {
        font-family: "Domine", serif;
        font-optical-sizing: auto;
        margin: 40px 0px !important;
        font-weight: lighter !important;

    }
}